*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*------------------------------------------------------HEADER------------------------------------------------*/
header{
    width: 100%;
    height: 20vh;
    justify-content: space-between; /*separar logo y enlaces*/
   
}

#botonMenu{
    /*display: none;*/
    display: none;
}


header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

header label:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
}

header label img{
    width: 50px;
    height: 50px;
}

.logo{
    padding: 30px 0px;
}


.navbar{
    width: 100%; 
    padding: 0px 20px; /*para que logo y contacto no queden pegados*/
    display: flex;
    align-items: center;
    justify-content: space-between; /*separar enlaces*/
    background-color: linear-gradient(rgb(14, 230, 219, 0.9), rgb(6, 86, 235, 0.85));
    letter-spacing: 0px;
    position: fixed;
    /*Lo ponemos aqui y en el body para que al desplazar no se vea el texto al ser transparente*/
    background-image: linear-gradient(rgba(16, 50, 91, 0.897), rgba(0,0,0,0.85)), url(../images/fondo.jpg);    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    z-index: 1; /*Al pasar los elementos con scroll la navbar se superpone*/

    
}
/*FILAS DE NAVBAR*/
.navbar ul li{
    list-style: none; /*desactivar puntos*/
    display: inline-block; /*uno al lado de otro*/
    margin: 0 20px; /*separacion entre enlaces*/  
    position: relative;
}

/*ENLACES DE NAVBAR*/
.navbar ul li a{
    text-decoration: none; /*quita apariencia enlace*/
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    
}
/*ANIMACION SUBRAYADO*/
.navbar ul li::before{
    content: "";
    height: 5px; /*grosor linea*/
    width: 0%;
    background: rgb(14, 230, 219, 0.9);
    position: absolute;
    left: 0px;
    bottom: -10px;
    transition: 0.4s ease-out;
}
.navbar ul li:hover::before{
    width: 100%;
}

/*------------------------------------------------------HEADER------------------------------------------------*/








/*------------------------------------------------------BODY------------------------------------------------*/
body{
    
    /*align-items: center;  display: flex;*/
    
    background-image: linear-gradient(rgba(16, 50, 91, 0.897), rgba(0,0,0,0.85)), url(../images/fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    letter-spacing: 5px;
    /*Para poner footer abajo del todo asi se sabe que body llega hasta abajo*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
/*------------------------------------------------------BODY------------------------------------------------*/






/*------------------------------------------------------FOOTER------------------------------------------------*/
footer{
    text-align: center;
    background: black;
    color: white;
    margin-top: auto;
    width: 100%;
    height: 50px;
}

.textoFooter{
    position: relative;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
  }


.botonLinkedin{
    position: absolute;
    top:-10;
    margin-left: 140px;
    margin-top: -22px;
    border-radius: 50px; /*redondea bordes*/
    color:white;

}


.botonGithub{
    position: absolute;
    top:-10;
    margin-left: 180px;
    margin-top: -22px;
    color:white;

}

.botonLinkedin:hover, .botonGithub:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

footer button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}

footer .fa-linkedin, footer .fa-github{
    font-size: 30px;
}

/*------------------------------------------------------FOOTER------------------------------------------------*/







/*-----------------------------------------------------BOXES---------------------------------------------------*/
/*BOX*/
.box{
    position: relative;
    width: 225px;
    height: 225px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    margin: 30px 15px; /*esta separacion entre boxes*/
    background: linear-gradient(rgb(14, 59, 206), rgb(0, 174, 255));    
    /*background: linear-gradient(rgb(0,0,0), rgba(12, 121, 211, 0.582), rgba(87, 83, 83, 0.178));*/

}
/*BOX IMAGE*/
.box .boxImage{
    position: absolute;
    top:3px;
    left:3px;
    width: 100%;
    height: 100%;
    padding: 1px;
    overflow: hidden;
    
}
.box .boxImage img{
    opacity: 1;
    /*OPACIDAD 0.1 PARA PONERLO AL PRINCIPIO MAS OSCURO
    opacity: 0.1;
    */
    transition: 0.5s;
    max-width: 100%;
}
/*ANIMACION RECUADRO*/
.box:hover{
    height: 270px;
    -webkit-transform:scale(1.1);transform:scale(1.1);

}
.box:hover .boxImage img{
    opacity: 1;
    
}
.box::before{
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left:-2px;
    right:-2px;
    background: linear-gradient(rgb(14, 59, 206), rgb(0, 174, 255));    
    z-index: -1;
}
.box::after{
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left:-2px;
    right:-2px;
    background: rgb(13, 104, 240) ;
    z-index: -2;
    filter:blur(5px);
}
/*
.box::before, .box::after{
    background: linear-gradient(135deg, #0046dca9, #15cbd1c5, #173d8a);

}
*/
/*texto box*/
.box .boxText{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;  
}
/*animacion texto*/
.box:hover .boxText{
    opacity: 1;  
}

/*-----------------------------------------------------BOXES---------------------------------------------------*/







/*-----------------------------------------------------INDEX HTML---------------------------------------------------*/

.boxesMenu{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: center; /*centrado para minimizar*/
}

.miPresentacion{
    display: flex;
    flex-wrap: wrap;
    padding: 6% 5% 0% 5%;
    justify-content: center; /*centrado para minimizar*/
    text-align: justify;
}

.miPresentacion strong{
    color: white;
}

.descargarCV{
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
    border-radius: 20px 20px 20px 20px; /*redondea bordes*/
    transition: 0.5s;
    margin-top: 40px;
    padding: 20px;
    background: linear-gradient(rgb(14, 59, 206), rgb(0, 174, 255));    
    color:white;
    cursor: pointer;

}

.descargarCV a{
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}

.descargarCV:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);

}

.miPresentacion .fa-file-pdf{
    margin-right: 10px;
    font-size: 30px;
}
/*-----------------------------------------------------INDEX HTML---------------------------------------------------*/





/*-----------------------------------------------------FORMACION HTML---------------------------------------------------*/
.formacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    /*justify-content: center; centrado para minimizar*/
    padding: 10px 25px 50px 25px; /*para que nav y texto no queden pegados*/
    
    

}
/*
.formacion h2{
    width: 100%;
     
}
*/
/*BOX*/
.boxFormacion{
    position: relative;
    width: 800px;
    height: 150px;
    min-width: 320px;
    display: flex ;
    flex-wrap: wrap;
    transition: 0.5s;
    margin: 20px 10px; /*esta separacion entre boxes*/
    background: rgb(16, 64, 219); 


    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.7));
    border-radius: 20px 20px 20px 20px; /*redondea bordes*/
    
}

.boxFormacion:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
    background-color: rgb(3, 12, 94);
}

/*BOX IMAGE*/
.boxFormacion .boxFormacionImage{
   
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    
}
.boxFormacion .boxFormacionImage img{
    position: absolute;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    background: linear-gradient(rgb(14, 59, 206), rgb(0, 174, 255));    
    width: auto;
    height: auto;
    max-width: 150px;
    border-radius: 20px 0px 20px 20px; /*redondea bordes*/

}

/*texto box*/
.boxFormacion .boxFormacionText{
    /*
    position: absolute;
    width: 70%;
    height: 100%;
    left: 30%;
    display: inline;
*/
    
    max-width: 1000px;
    margin: 45px 0 0 160px;
}

@media(max-width:705px){
    .boxFormacion .boxFormacionText{
        margin: 30px 0 0 160px;
    }

}

@media(max-width:493px){
    .boxFormacion .boxFormacionText{
        margin: 3px 0 0 160px;
    }

}
.boxFormacion .boxFormacionText p{
    
    color: white;
    padding-top: 3px;
    text-align: justify;
    padding-right: 5px;

}

.boxFormacion .boxFormacionText h3{
    text-align: left;
    color: white;
    padding-top: 3px;
}

/*
@media (max-width:935px){
    .boxFormacion .boxFormacionText h3{
        padding-top: 8%;
        padding-left: 80px;
        padding-right: 20px;
    }
    
    .boxFormacion .boxFormacionText p{
        padding-top: 5px;
        padding-left: 80px;
        padding-right: 20px;
    
    }

}

@media (max-width:577px){
    .boxFormacion .boxFormacionText {
        display: none;
    }
    
    .boxFormacion .boxFormacionImage img{
        padding-left: 100px;
        
    
    }

}
*/
/*-----------------------------------------------------FORMACION HTML---------------------------------------------------*/





/*-----------------------------------------------------CONOCEME HTML---------------------------------------------------*/


.sectionConoceme{
    /*
    flex-wrap: wrap;
    display: inline-block; /*Unoo al lado de otro
    padding-bottom: 2%;
    padding-left: 5%;
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*centrado para minimizar*/
    padding: 30px 25px 50px 25px; /*para que nav y texto no queden pegados*/

}

.sectionConoceme > * {
    padding: 1em;
}

.sectionConoceme .contact-info img{
    width: 280px;
    height: 380px;
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.7));
    border-radius: 20px 20px 20px 20px; /*redondea bordes*/

}

.sectionConoceme .contact-form form p {
    margin: 0;
    padding: 1.5em;
    
}








/*-----------------------------------------------------CONOCEME HTML---------------------------------------------------*/

/*-----------------------------------------------------HABILIDADES HTML---------------------------------------------------*/

#lenguajes:checked ~ #imagenes .bbdd, #lenguajes:checked ~ #imagenes .web, #lenguajes:checked ~ #imagenes .otros{
    display: none;
}

#bbdd:checked ~ #imagenes .lenguajes, #bbdd:checked ~ #imagenes .web, #bbdd:checked ~ #imagenes .otros{
    display: none;
}

#web:checked ~ #imagenes .bbdd, #web:checked ~ #imagenes .lenguajes, #web:checked ~ #imagenes .otros{
    display: none;
}

#otros:checked ~ #imagenes .bbdd, #otros:checked ~ #imagenes .web, #otros:checked ~ #imagenes .lenguajes{
    display: none;
}

.habilidadesblandas input{
    display: none;
}

.habilidadesblandas label{
    color: white;
    border-right: 1px solid white;
    padding-left: 10px;
    padding-right: 5px;


}

.habilidadesblandas{
    display: flex;
    flex-direction: column;
    justify-content: center; /*centrado para minimizar*/
    padding: 30px 50px 50px 30px; /*para que nav y texto no queden pegados*/
}

.habilidadesblandas .navhabilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*centrado para minimizar*/
    margin-bottom: 20px;

}

.habilidadesblandas #imagenes, .habilidadesduras #imagenes{
    display: flex;
    flex-wrap: wrap;
    min-height: 290px;
    justify-content: center;
    align-content: center;

}

.habilidadesduras{
    display: flex;
    flex-direction: row;
    justify-content: center; /*centrado para minimizar*/
    padding: 0px 50px 10px 30px; /*para que nav y texto no queden pegados*/
}

.descripcionHabilidadesDuras{
    display: flex;
    flex-direction: row;
    justify-content: center; /*centrado para minimizar*/
    padding: 0px 50px 50px 30px; /*para que nav y texto no queden pegados*/
    color: white;
    text-align: justify;
}


.boxHabilidades{
    min-width: 120px;
    max-width: 180px;
    min-height: 170px;
    width: auto;
    height: auto;
    margin: 20px; /*separar boxes al minimizar*/
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.7));
    border-radius: 20px 20px 20px 20px; /*redondea bordes*/
    transition: 0.5s;
    background: linear-gradient(rgb(240, 240, 240), rgb(0, 174, 255));    
} 

.boxHabilidades img{
    max-width: 110px;
    width: auto;
    height: auto;
}

.boxHabilidades .boxHabilidadesImage{
    justify-content: center; /*centrado para minimizar*/
    display: flex;
    min-height: 110px;
    align-items: center;
}

.boxHabilidades .boxHabilidadesText{
    justify-content: center; /*centrado para minimizar*/
    display: flex;
    width: auto;
    height: auto;
    min-height: 40px;
    align-items: center;
    text-align: center;
}

.boxHabilidades .boxHabilidadesText h3{
    color: white;

}

.navhabilidades label{
    margin-top: 20px;
}

/*-----------------------------------------------------HABILIDADES HTML---------------------------------------------------*/



/*-----------------------------------------------------PORTFOLIO HTML---------------------------------------------------*/

.portfolio{
    /*
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 40px;
        
}
/*
.portfolio h2{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
*/


.boxPortfolio{
    background: rgb(16, 64, 219);
    max-width: 235px;
    width: auto;
    height: auto;
    margin: 20px; /*separar boxes al minimizar*/
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.7));
    border-radius: 20px 20px 20px 20px; /*redondea bordes*/
    transition: 0.5s;

} 

.boxPortfolio:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
    background-color: rgb(3, 12, 94);
}


.boxPortfolio .boxPortfolioImage{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.boxPortfolio .boxPortfolioImage img{
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background: linear-gradient(rgb(14, 59, 206), rgb(0, 174, 255));    

    width: auto;
    height: auto;
    max-width: 240px;

    border-radius: 20px 20px 0 0; /*redondea bordes*/
    right: 0;

}

.boxPortfolio .boxPortfolioImage #github, .boxPortfolio .boxPortfolioImage #web{
    width: auto;
    height: auto;
    width: 35px;
    clip-path: inset(0 0 0 0);
    background: none;
    border-radius: 0 0 0 0;
    position: relative;
    right: 12px;
    top: 235px;
    


}
/*
.boxPortfolioImage img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 20px 20px 0 0; /*redondea bordes

}
*/
.boxPortfolio .boxPortfolioText{
    width: auto;
    height: auto;
    max-width: 235px;
    padding: 20px 10px;
    margin: 220px 0 0 0;
}

.boxPortfolio .boxPortfolioText h3{
    color: white;
    letter-spacing: 2px;
    text-align: center;
}

.boxPortfolio .boxPortfolioText p{
    color: white;
    letter-spacing: 2px;
    text-align: justify;
    padding: 10px 0px;
    line-height: 20px;
    font-size: 12px;
}



/*-----------------------------------------------------PORTFOLIO HTML---------------------------------------------------*/



/*-----------------------------------------------------CONTACTO HTML---------------------------------------------------*/
.contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*centrado para minimizar*/
    padding: 30px 25px 50px 25px; /*para que nav y texto no queden pegados*/
}
/*
.contacto h2{
    text-align: center;
    color: white;

}
*/
.contacto > * {
    padding: 1em;
}

.contact-form{
    background-image: linear-gradient(rgba(16, 50, 91, 0.897), rgba(255, 255, 255, 0.35)), url(../images/fondo.jpg);    
    background-attachment: fixed;
    box-shadow: 0 0 20px 0 rgba(255,255,255,0.6);
    width: auto;
    height: auto;
    width: 500px;
}


.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:0;
    padding: 1em;

}

.contact-form form .oneline{
    grid-column: 1/3;
}

.contact-form form button:hover,
.contact-form form button:focus{
    background: rgb(147, 216, 236);
}


.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none; /*quita fondo*/
    outline: 0;
    color: #fff;
    border-bottom: 1px solid rgb(16, 64, 219);
    
  
    /*poner linea roja*/
    font-family: Arial, Helvetica, sans-serif;

}

.contact-form form button{
    background: rgb(16, 64, 219);    
    border: 0;
    padding: 1em;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

::placeholder{
    color:white;
}


.contact-form form label{
    display: block;
}

.contact-info h2, .contact-info ul, .contact-info p {
    margin: 0 0 2rem 0;
    width: 100%;
}

.contact-info ul, .contact-info p {
    text-align: left;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    color: white;
}

.contact-info ul li{
    margin: 0 0 1rem 0;
}

.contact-info{
    background: rgb(16, 64, 219);
    box-shadow: 0 0 20px 0 rgba(255,255,255,0.6);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin: 0;
    

}

@media (max-width: 1000px){
    .contact-info{
        width: auto;
        height: auto;
        width: 500px;
    }

    .contact-info ul{
        text-align: center;
    }

    .contact-info h2{
        text-align: center;
    }
}

.contact-info ul li iframe{
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.7));
    clip-path: polygon(6% 0, 94% 0, 100% 6%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0 6%);
}

#dirEmail´{
    opacity: 0;
}
/*-----------------------------------------------------CONTACTO HTML---------------------------------------------------*/




@media (max-width:813px){

    header label{
        display: block;
    }

    header{
        height: 8vh;
    }

    .logo{
        display: none;
    }

    .toggle-button{
        display:block;
        width:50px;
        height:50px;
        /*border:1px solid black;*/
        position:relative;
        cursor: pointer;
        box-sizing: border-box;
        
        

    }
    
    .toggle-button:before, .toggle-button:after {
        position:absolute;
        display:block;
        content:" ";
        width: calc(100% / 2);               
        box-sizing: border-box;
        left: calc(100% / 4);
        transition: all 0.2s ease-out;
    }
    
    .toggle-button:before {
        top: calc(100% / 4);
        height:calc(100% / 4);
        border-top:1px solid white;
        border-bottom:1px solid white;
        background-color: transparent;

    }
    
    .toggle-button:after {
        height:1px;
        background-color:white;
        bottom:calc(100% / 4);

    }

    .navbar{
        position: absolute;
        display: none;
        justify-content: left; /*centrado para minimizar*/
        width: 100%; 
        padding: 0; /*para que logo y contacto no queden pegados*/
        transition: all 0.5s; /*animacion aparece y desaparece*/
        margin-left: -850px;
    }

    .navbar ul{
        flex-direction: column;
        display: flex;
        padding-top: 5px;
    }

    .navbar ul li{
        margin: 10px 20px;
    }

    
   

    input#botonMenu:checked ~ .navbar {
        display: flex;
        margin-left: 0px;
    }  

    input#botonMenu:checked ~ .boxesMenu {
        margin-top: 20%;
    }  


    input#botonMenu:checked + .toggle-button:before, input#botonMenu:checked + .toggle-button:after {
        top:calc(100% / 2);
        height:1px;
        border-bottom:0;
    }

    input#botonMenu:checked + .toggle-button:before {
        transform: rotate(45deg); 
        
    }

    input#botonMenu:checked + .toggle-button:after {
        transform: rotate(-45deg);
    }

    
}




h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;

}


h2{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 10px 10px 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;

}
